section.slide.slide-benefits
	.cover.cover-1
		img(src="/images/slides/benifits/benifits-1.svg")
	.cover.cover-2
		img(src="/images/slides/benifits/benifits-2.svg")
	.cover.cover-3
		img(src="/images/slides/benifits/benifits-3.svg")
	.cover.cover-4
		img(src="/images/slides/benifits/benifits-4.svg")
	.content
		.part
			h2 Performance
			.sub.conversions
				p 5%-10% higher conversion rates than traditional affiliate links.
				canvas(id="bh-conversions" width="300" height="300")
				.divider
			.sub 
				p Mobile first designed SmartCart
				.divider
			.sub
				p Seamless purchasing across all devices
				.divider
			.sub 
				p Making editorial content, native advertising & digital ad units directly shoppable.
				.divider
		
		.part
			h2.monitization Monitization
			.sub 
				p Upsell AD units and native advertising
				.divider
			.sub.commissions
				p Commissions between 10%—30%
				canvas(id="bh-commissions" width="300" height="300")
				.divider
			.sub 
				p Rev share on each sale plus ad revenue
				.divider

		.part
			h2.data Data
			.sub
				p Track performance down to each individual post/article
				.divider
			.sub
				p Detailed insights of consumers purchasing behavior in content
				.divider
			.sub
				p Content and product matching tools
				.divider
		.part
			h2.user-exp User Experience
			.sub
				p Keep readers engaged with the content while letting them shop seamlessly
				.divider
			.sub
				p Single sign on for 1 click buying
				.divider
			.sub
				p Truly universal allowing users to add multiple products/services from multiple retailers with just one checkout
