section.sep#benefits
	.content
		.part
			.cover.cover-1
				img(src="/images/slides/benifits/benifits-1.svg")
			h2 Performance
			.sub.conversions
				.stats 2-3x
				p higher conversion rates than traditional affiliate links
				
				.divider
			.sub 
				p Mobile first designed SmartCart
				.divider
			.sub
				p Seamless purchasing across all devices
				.divider
			.sub 
				p Making editorial content, native advertising & digital ad units directly shoppable
				.divider
		
		.part
			.cover.cover-2
				img(src="/images/slides/benifits/benifits-2.svg")
			h2.monitization Monetization

			.sub.commissions
				p Commissions from retailers ranging from
				.stats
					span#comissions2-1 10%
					| —
					span#comissions2-2 30%
				
				.divider
			.sub 
				p Revenue share on each sale
				.divider
			.sub
				p Publishers always receives credit for the sale unlike traditional affiliate links.
				.divider

		.part
			.cover.cover-3
				img(src="/images/slides/benifits/benifits-3.svg")
			h2.data Data
			.sub
				p Track performance down to each individual post/article
				.divider
			.sub
				p Detailed insights of consumers purchasing behavior in content
				.divider
			.sub
				p Content and product matching tools
				.divider
		.part
			.cover.cover-4
				img(src="/images/slides/benifits/benifits-4.svg")
			h2.user-exp User Experience
			.sub
				p Keep readers engaged with the content while letting them shop seamlessly
				.divider
			.sub
				p Single sign on for 1 click buying
				.divider
			.sub
				p Truly universal allowing users to add multiple products/services from multiple retailers with just one checkout
