section.slide.slide-business-model
	.cover.cover-1
		img(src="/images/slides/business-model/business-model-0.svg")
	.cover.cover-2
		img(src="/images/slides/business-model/business-model-2.svg")
	.cover.cover-3
		img(src="/images/slides/business-model/business-model-3.svg")
	.cover.cover-4
		img(src="/images/slides/business-model/business-model-1.svg")
	
	.content
		.part.main
			h2 Our Business Model
			.sub
				ol
					
					li.item-1 <em>Commission</em> range 10%-30%
					li.item-2 Commission split with publisher: <em>75% Publisher 25% Bringhub</em>
					li.item-3: em ZERO LICENSING FEES + NO UPFRONT COSTS
					
		
		.part.trigger-1 &nbsp;
		.part.trigger-2 &nbsp;
		.part.trigger-3 &nbsp;
		.part &nbsp;

section.sep: h1 future revenue possibilities

section.sep.bidding
	h1 REAL-TIME eCOMMERCE BIDDING PLATFORM

	.part
		img(src="/images/slides/business-model/auction-1.svg")
		h2 USER PURCHASE
		p A user discovers a product while browsing their favorite content and triggers the SmartCart. They complete a purchase on the spot and don’t have to think about it again until their purchase arrives directly to their door.
		.divider

	.part
		img(src="/images/slides/business-model/auction-2.svg")
		h2 Bidding Pool
		p Meanwhile, behind the scenes, a bidding pool is activated that allows potential vendors to bid on fulfilling the purchase order based on the demand of the product and negotiated commission rates with Bringhub.
		img(src="/images/slides/business-model/auction-2-2.svg")
		.divider


	.part
		img(src="/images/slides/business-model/auction-3.svg")
		h2 Winning Bid
		p The vendor with the most favorable bid wins the purchase order automatically, creating a seamless purchase experience for the consumer and distributing commissions in the most efficient way possible based on shifting market conditions.
		.divider
section.sep.big-data
	h1 MONETIZE ON PERFORMANCE-BASED DATA
	img(src="/images/slides/business-model/big-data-1.svg")


	