section.sep#comp
	h1 Direct Competitors
	<br />

	table.table-2
		thead
			tr
				th.first
				th Multi Vertical
				th Product Showcase + Universal Checkout
				th 1-click Checkout/wallet
				th No licensing Fees
				th Light and Deep Inventory Integration Hybrid
				th Automated Implementation
				th Self Service + Simple Customization
				th Cross Publisher Transaction
		tbody
			tr.bh
				td.first: a(href="http://bringhub.com" target="_blank"): img(src="/images/slides/comp/bh.jpg")
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-checkmark
			tr
				td.first: a(href="http://cosmiccart.com" target="_blank"): img(src="/images/slides/comp/cosmic.jpg")
				td: .icon-close
				td: .icon-close
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-checkmark
			tr
				td.first: a(href="http://twotap.com" target="_blank"): img(src="/images/slides/comp/twotap.jpg")
				td: .icon-close
				td: .icon-close
				td: .icon-checkmark
				td: .icon-close
				td: .icon-close
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-close

			tr
				td.first: a(href="https://www.shopthis.com" target="_blank"): img(src="/images/slides/comp/shopthis.jpg")
				td: .icon-close
				td: .icon-checkmark
				td: .icon-checkmark
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-close

			tr
				td.first: a(href="http://www.shoppable.com" target="_blank"): img(src="/images/slides/comp/shoppable.jpg")
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-checkmark
				td: .icon-close
				td: .icon-close

			tr
				td.first: a(href="https://about.ub.io" target="_blank"): img(src="/images/slides/comp/shop.jpg")
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-checkmark
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-close

			tr
				td.first: a(href="https://www.shopbeam.com" target="_blank"): img(src="/images/slides/comp/shopbeam.jpg")
				td: .icon-close
				td: .icon-checkmark
				td: .icon-close
				td: .icon-checkmark
				td: .icon-close
				td: .icon-close
				td: .icon-close
				td: .icon-close


section.sep.indirect-comp
	h1 Indirect Competitors
	<br />

	table.table-2
		thead
			tr
				th.first
				th Type
				th Area of Focus
				th Pros
				th Cons
		tbody
			tr.bh
				td.first:  img(src="/images/slides/comp/social.jpg")
				td: h3 Social Media
				td Buy Buttons
				td: ul
					li Large audience
					li Big Publisher Network
					li Automated System 
				td: ul
					li Publisher pushback regarding data sharing
					li Just for their ecosystems
					li Publishers want to drive people directly to their sites
				
			tr
				td.first: img(src="/images/slides/comp/commerce.jpg")
				td: h3 COMMERCE FOR PUBLISHERS
				td eCommerce shops for Publishers
				td: ul
					li Easy implementation
					li New revenue model for Publishers
				td: ul
					li Disconnected from content
					li Resources required to handle customer services
					li Product curation is not done by editorial
				
			tr
				td.first:  img(src="/images/slides/comp/affiliate.jpg")
				td: h3 AFFILIATE NETWORKS
				td Linking out to eCommerce stores
				td: ul
					li Big Publisher Network
					li Automated System
					li Large vendor network
				td: ul
					li Zero access to inventory & product variants
					li Redirects user away from content / bad experience (dead links)
					li No universal checkout
			tr
				td.first:  img(src="/images/slides/comp/market.jpg")
				td: h3 SOCIAL MARKET PLACES
				td Consumer-facing marketplace
				td: ul
					li Good user experience
					li Direct consumer communication
					li Seamless universal buying experience
				td: ul
					li Confined to one marketplace
					li No Publisher Network
					li Access to a limited audience
				
				
				
				
				
				
				
				
				
				
				
				
				
				













				
				
				
				
				
				
				
				
				
				
				












