section.slide.slide-dash
	.cover.cover-1
		img.dash-1(src="/images/slides/dash/dash-1.png")

	.content
		.part
			h2 The Publiser Dashboard
			p Publishers can now access actionable data tracking performance and sales on every post and ad.
			.divider

			h3 Coming soon:
			p One portal for publishers to manage and track all their affiliate relationships
			.divider

			p Editors can set preferences within dashboard to generate all affiliate links
			.divider

			p Centralizing affiliate revenue and kpi’s
			.divider

		