section.sep.product-demo
	.inner
		h1 Product Demos
		p (Click each image for full article)
		.product
			h3 Editorial Content
			a(href="http://thezoereport.com/fashion/style-tips/3-practical-ways-to-wear-satin/" target="_blank"): img(src="/images/slides/demos/demo-1.png")
		.product
			h3 Native Advertising
			a(href="http://www.huffingtonpost.com/2015/09/16/mens-outfit-math_n_7879548.html" target="_blank"): img(src="/images/slides/demos/demo-3.png")
		.product
			h3 Travel (coming soon)
			a(href="http://mtampajohn16030.timeout.com.moovapp.com/miami/hotels/betsy" target="_blank"): img(src="/images/slides/demos/demo-2.png")
		