section.slide#ip
	.cover.cover-1
		img(src="/images/slides/ip/ip-1.svg")


	.content
		.part.trigger-1
			h2 Auto-Content Product Recognition Algorithm
			.sub 
				p The Bringhub auto-content product recognition algorithm maps generic and/or custom content meta data* to shoppable product groupings (collections). The algorithm works by:
				ul
					li Gathering relevant data by means of lexical analysis*
					li Device fingerprinting
					li Image analysis used to curate a list of directly relevant products and products that are peripherally related
					li The algorithm is able to perform these actions in real time across a multitude of platforms
				
				p.tiny * content meta data - Product SKU, Name, URL, Description, schema.org microdata, explicit product tags
				p.tiny * lexical analysis - Scan page and provide a manifest of all detected "products", also provide device specific details

				.divider
