section.slide.slide-market
	.cover.cover-1
		img(src="/images/slides/market/usa-map.svg" class="svg" id="usa-map")
	.content
		.part.us-market
			.sub
				h2 US Market Size 2015
				canvas(id="us-market" width="300" height="300")

		.part.estimate
			h2 US Market Penetration Estimate-2018
			h4 Total Sales through SmartCart Technology
			
			table
				tbody
					tr
						td Retail
						td: .icon-arrow-right
						td 0.5%
						td: .icon-arrow-right
						td.last#market-retail $1.7B
					tr
						td Travel
						td: .icon-arrow-right
						td 0.25%
						td: .icon-arrow-right
						td.last#market-travel $382.5M
					tr
						td Digital ADs
						td: .icon-arrow-right
						td 1.0%
						td: .icon-arrow-right
						td.last#market-digital $760M
					tr
						td Tickets
						td: .icon-arrow-right
						td 2%
						td: .icon-arrow-right
						td.last#market-tickets $80M
					tr.footer
						td(colspan="5") Total Estimate = <em id="market-total">$2.97B</em>
				
