section.slide.slide-statusquo(data-index="1")
	.cover.cover-1
		img(src="/images/slides/status-quo/status-quo-1.svg")
	.cover.cover-2
		img(src="/images/slides/status-quo/status-quo-2.svg")
	.cover.cover-3
		img(src="/images/slides/status-quo/status-quo-3.svg")
	.cover.cover-4
		img(src="/images/slides/status-quo/status-quo-4.svg")
	.content
		h1 Status Quo
		.part
			h2 Performance
			.sub.conversions
				p Affiliate conversion rates in editorial content average at a low
				.stats 0.5%—1.0%
				canvas(id="quo-conversions" width="300" height="300")
				.divider
			.sub 
				p The average clickthrough rate of display ads is
				.stats 0.1%
				.divider
			.sub.accidental-clicks
				p About 1/2 of clicks on mobile ad are accidental
				#accidental-clicks.stats 
				.divider
			.sub 
				p Retailers are looking for new sales distribution solutions to sell in content.
				.divider
		
		.part
			h2.monitization Monitization
			.sub 
				p Publishers are desperately looking for ways to monetize their content.
				.divider
			.sub.average-affiliate
				p Average affiliate commissions are small between
				.stats 6%—12%
				canvas(id="average-affiliate" width="300" height="300")
				.divider
			.sub 
				p Publishers and retailers are looking for a solution to monetize effectively on mobile.
				.divider

		.part
			h2.data Data
			.sub
				p Publishers can only track limited analytics around their readers purchases and often lose out on commissions.
				.divider
			.sub
				p Retailers have no way to see their performance based on individual posts/articles.
				.divider
		.part
			h2.user-exp User Experience
			.sub
				p Readers have a disrupted experience if they want to purchase an item they are reading about. They are redirected away from the content.
				.divider
			.sub
				p Consumers have several individual checkout carts and have to input their data into each individually.
				.divider
