section#status-quo.sep
	.content
		h1 Status Quo
		.part
			.cover.cover-1
				img(src="/images/slides/status-quo/status-quo-1.svg")
			h2 Performance
			.sub.conversions
				p Affiliate conversion rates in editorial content average at a low
				.stats
					span#conversions-1 0.5%
					| —
					span#conversions-2 1.0%
				
				p.tiny Source: Bringhub Publisher Network
				.divider
			.sub 
				p The average clickthrough rate of display ads is
				.stats: span#clickthrough 0.10%
				p.tiny: a(href="http://www.smartinsights.com/internet-advertising/internet-advertising-analytics/display-advertising-clickthrough-rates/" target="_blank") Source Doubleclick
				.divider
			.sub.accidental-clicks
				p About 1/2 of clicks on mobile ad are accidental
				#accidental-clicks.stats 
				p.tiny: a(href="http://blog.hubspot.com/marketing/horrifying-display-advertising-stats" target="_blank") Source: GoldSpot Media
				.divider
			.sub 
				p "Retailers are looking for new sales distribution solutions to sell in content."
				p.tiny Source: NY Times
				.divider
		
		.part
			.cover.cover-2
				img(src="/images/slides/status-quo/status-quo-2.svg")
			h2.monitization Monetization
			.sub 
				p Publishers are desperately looking for ways to monetize their content.
				p.tiny Source: Bringhub Publisher Network
				.divider
			.sub.average-affiliate
				p Average affiliate commissions are small, between
				.stats 
					span#comissions-1 6%
					| —
					span#comissions-2 12%
				
				
				p.tiny Source: CJ, Linkshare, Rewardstyle
				.divider
			.sub 
				p Publishers and retailers are looking for a solution to monetize effectively on mobile.
				.divider

		.part
			.cover.cover-3
				img(src="/images/slides/status-quo/status-quo-3.svg")
			h2.data Data
			.sub
				p Publishers can only track limited analytics around their readers' purchases and often lose out on commissions.
				.divider
			.sub
				p Retailers have no way to see their performance based on individual posts/articles.
				.divider
			.sub
				p There is no universal platform to help advertisers understand how to sell products more effectively in content.
				.divider
		.part
			.cover.cover-4
				img(src="/images/slides/status-quo/status-quo-4.svg")
			h2.user-exp User Experience
			.sub
				p Readers have a disrupted experience if they want to purchase an item they are reading about. They are redirected away from the content.
				.divider
			.sub
				p Consumers have several individual checkout carts and have to input their data into each individually.
				.divider
			.sub
				p Consumers view the same number of products on smartphone and desktop sites: Lower mobile conversion rates in the US are due to weaknesses in turning this browsing into completed purchases.
			
