section.slide.slide-stores
	.cover.cover-1
		img(src="/images/slides/stores/stores-1-01.png")

	.content
		.part.store-roadmap
			h1 Supported Stores
			h3 We are currently adding up to 3 stores per day. <br /><br />
			.sub 
				canvas(id="store-roadmap" )

				.divider
		
