section.sep.sep-team
	h1 A great team
	h3 Kickass Leaders
	.members
		.member.exec
			.inner
				.image: img(src="/images/slides/team/Dominik-Pantelides.jpg" alt="Dominik Pantelides")
				.info
					h2 Dominik Pantelides
					h3 CEO & Co-Founder
					.background 15 YEARS EXPERIENCE IN SERVICE & COMMERCE
					.logos: img(src="/images/slides/team/logos-dom.jpg")

		.member.exec
			.inner
				.image: img(src="/images/slides/team/Brian-Marvin.jpg" alt="Brian Marvin")
				.info
					h2 Brian Marvin
					h3 COO & Co-Founder
					.background 15 YEARS EXPERIENCE IN MEDIA & ADVERTISING
		.member.exec
			.inner
				.image: img(src="/images/slides/team/Albert-Khasky.jpg" alt="")
				.info
					h2 Albert Khasky
					h3 CTO & Co-Founder
					.background 12 YEARS EXPERIENCE IN SOFTWARE PLATFORMS
	br 
	h3 Badass Operating team
	.members
		.member
			.inner
				.image: img(src="/images/slides/team/John-Adams.jpg" alt="John Adams")
				.info
					h2 John Adams
					h3 Chief Architect

		.member
			.inner
				.image: img(src="/images/slides/team/Stephen-Acunto.jpg" alt="Brian Marvin")
				.info
					h2 Stephen Acunto
					h3 VP Business Development

		.member
			.inner
				.image: img(src="/images/slides/team/Jose-Castro.jpg" alt="Jose Castro")
				.info
					h2 Jose Castro
					h3 Customer Service Manager

		.member
			.inner
				.image: img(src="/images/slides/team/Brittany-Gilliam.jpg" alt="Brittany Gilliam")
				.info
					h2 Brittany Gilliam
					h3 Executive Assistant

		.member
			.inner
				.image: img(src="/images/slides/team/Tommy-Gomez.jpg" alt="Tommy Gomez")
				.info
					h2 Tommy Gomez
					h3 Creative Director Consultant

		.member
			.inner
				.image: img(src="/images/slides/team/Justin-Kiang.jpg" alt="Justin Kiang")
				.info
					h2 Justin Kiang
					h3 Director of Engineering

		.member
			.inner
				.image: img(src="/images/slides/team/Marcy-Kelly.jpg" alt="Marcy Kelly")
				.info
					h2 Marcy Kelly
					h3 Director of Product Management

		.member
			.inner
				.image: img(src="/images/slides/team/Jessica-Potts.jpg" alt="Jessica Potts")
				.info
					h2 Jessica Potts
					h3 Senior Frontend Engineer


		.member
			.inner
				.image: img(src="/images/slides/team/Kai-Schulze.jpg" alt="Kai Schulze")
				.info
					h2 Kai Schulze
					h3 Sr. Bus. Development Consultant


		.member
			.inner
				.image: img(src="/images/slides/team/Benjamin-Schuster.jpg" alt="Benjamin Schuster")
				.info
					h2 Benjamin Schuster
					h3 Senior Software Engineer

		.member
			.inner
				.image: img(src="/images/slides/team/Jarrett-Winfield.jpg" alt="Jarrett Winfield")
				.info
					h2 Jarrett Winfield
					h3 Sr. Bus. Development Consultant

		

