section.sep.sep-team
	h1 A great team
	h2.title Kickass Leaders
	.members
		.member.exec
			.inner
				.image: img(src="/images/slides/team/Dominik-Pantelides.jpg" alt="Dominik Pantelides")
				.info
					h2 Dominik Pantelides
					h3 CEO & Co-Founder

					.background 15 YEARS EXPERIENCE IN SERVICE & COMMERCE
					h3 1 Successful Exit
					.logos: img(src="/images/slides/team/logos-dom.jpg")

		.member.exec
			.inner
				.image: img(src="/images/slides/team/Brian-Marvin.jpg" alt="Brian Marvin")
				.info
					h2 Brian Marvin
					h3 COO & Co-Founder
					
					.background 15 YEARS EXPERIENCE IN MEDIA & ADVERTISING
					h3 1 Successful Exit
					.logos: img(src="/images/slides/team/logos-brian.jpg")
		.member.exec
			.inner
				.image: img(src="/images/slides/team/Albert-Khasky.jpg" alt="")
				.info
					h2 Albert Khasky
					h3 CTO & Co-Founder
					
					.background 12 YEARS EXPERIENCE IN SOFTWARE PLATFORMS
					h3 1 Successful Exit
					.logos: img(src="/images/slides/team/logos-albert.jpg")

	
	h2.title Badass Operating team
	.members
		.member
			.inner
				.image: img(src="/images/slides/team/John-Adams.jpg" alt="John Adams")
				.info
					h2 John Adams
					h3 Chief Architect
					.logos: img(src="/images/slides/team/logos-jadams.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Stephen-Acunto.jpg" alt="Brian Marvin")
				.info
					h2 Stephen Acunto
					h3 VP Business Development
					.logos: img(src="/images/slides/team/logos-sacunto.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Justin-Kiang.jpg" alt="Justin Kiang")
				.info
					h2 Justin Kiang
					h3 Director of Engineering
					.logos: img(src="/images/slides/team/logos-jkang.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Marcy-Kelly.jpg" alt="Marcy Kelly")
				.info
					h2 Marcy Kelly
					h3 Director of Product Management
					.logos: img(src="/images/slides/team/logos-mkelly.jpg")
		
		.member
			.inner
				.image: img(src="/images/slides/team/John-Chapman.jpg" alt="John Chapman")
				.info
					h2 John Chapman
					h3 Director Retail Integration

					.logos: img(src="/images/slides/team/logos-jchapman.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Jose-Castro.jpg" alt="Jose Castro")
				.info
					h2 Jose Castro
					h3 Customer Service Manager
					.logos: img(src="/images/slides/team/logos-jcastro.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Benjamin-Schuster.jpg" alt="Benjamin Schuster")
				.info
					h2 Benjamin Schuster
					h3 Senior Software Engineer
					.logos: img(src="/images/slides/team/logos-bSchuster.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Jessica-Potts.jpg" alt="Jessica Potts")
				.info
					h2 Jessica Potts
					h3 Senior Frontend Engineer
					.logos: img(src="/images/slides/team/logos-jpotts.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Brittany-Gilliam.jpg" alt="Brittany Gilliam")
				.info
					h2 Brittany Gilliam
					h3 Executive Assistant
					.logos: img(src="/images/slides/team/logos-bgilliam.jpg")

		
		h2.title Smartass Consultants

		.member
			.inner
				.image: img(src="/images/slides/team/Tommy-Gomez.jpg" alt="Tommy Gomez")
				.info
					h2 Tommy Gomez
					h3 Creative Director Consultant
					.logos: img(src="/images/slides/team/logos-tgomez.jpg")

		.member
			.inner
				.image: img(src="/images/slides/team/Bryan-Edwards.jpg" alt="Bryan Edwards")
				.info
					h2 Bryan Edwards
					h3 Digital Design/Dev Consultant
					.logos: img(src="/images/slides/team/logos-bedwards.jpg")



		.member
			.inner
				.image: img(src="/images/slides/team/Kai-Schulze.jpg" alt="Kai Schulze")
				.info
					h2 Kai Schulze
					h3 Sr. Bus. Development Consultant
					.logos: img(src="/images/slides/team/logos-kshcultz.jpg")


		

		.member
			.inner
				.image: img(src="/images/slides/team/Jarrett-Winfield.jpg" alt="Jarrett Winfield")
				.info
					h2 Jarrett Winfield
					h3 Sr. Bus. Development Consultant
					.logos: img(src="/images/slides/team/logos-jwinfild.jpg")

		

