section.slide.slide-tech
	.cover.cover-1
		img(src="/images/slides/tech/tech-1.svg")
	.cover.cover-2
		img(src="/images/slides/tech/tech-2.svg")
	.cover.cover-3
		img(src="/images/slides/tech/tech-3.svg")

	.content
		.part.trigger-1
			h2 A secure and robust system at every level
			.sub.left
				h3 Backend
				img(src="/images/slides/tech/lamp-training-institute.jpg")
				p LAMP, Linux, Apache, MySQL, PHP
				
			.sub.right
				h3 Frontend
				img(src="/images/slides/tech/AngularJS_logo.svg.png")
			.divider

		.part.trigger-2
			h2 Security
			.sub.left
				h3 SSL
				img(src="/images/slides/tech/pci-compliant-logo.png")
				p Fully SSL - Every request is secure
			.sub.right
				h3 PCI 
				img(src="/images/slides/tech/ssl-logo.png")
				p Fully PCI Compliant
			.divider

		.part.trigger-3
			h2 Ready to scale
			.sub
				h3 Autoscaling - aws
				img(src="/images/slides/tech/AWS_Auto_Scaling_LOGO.png")
			.divider
			
			
		