section.sep#tech
	h1 Under the hood
	h2 A secure and robust system at every level

	.content
		.part.trigger-1
			.cover.cover-1
				img(src="/images/slides/tech/tech-1.svg")
			h3 Backend
			img(src="/images/slides/tech/lamp-training-institute.jpg")
			p LAMP, Linux, Apache, MySQL, PHP
			.divider
			
			h3 Frontend
			img(src="/images/slides/tech/AngularJS_logo.svg.png")
			.divider

		.part.trigger-2
			.cover.cover-2
				img(src="/images/slides/tech/tech-2.svg")
			h2 Security
			h3 SSL
			img(src="/images/slides/tech/ssl-logo.png")
			p SSL Secure - Every request is secure
			.divider
			h3 PCI 
			img(src="/images/slides/tech/pci-compliant-logo.png")
			
			p Fully PCI Compliant - Security Level 1
			.divider

		.part.trigger-3
			.cover.cover-3
				img(src="/images/slides/tech/tech-3.svg")
			h2 Ready to scale
			h3 Autoscaling - aws
			img(src="/images/slides/tech/AWS_Auto_Scaling_LOGO.png")
			.divider
			
			
		