section.slide.slide-theproblem
	.cover.cover-1
		img(src="/images/slides/problem/disrupted-experience.svg")
	.cover.cover-2
		img(src="/images/slides/problem/problem-1-1.svg")
	.cover.cover-3
		img(src="/images/slides/problem/not-awesome.svg")

	
	.content
		.part.trigger-1
			h1 The Problem
			p There is no current solution that enables consumers to directly purchase within digital content without being redirected
			.divider

		.part.trigger-2
			h2 For Example...
			p When you see something you like, you're generally linked away from the content you were browsing in order to hunt down the item and make a purchase. A disrupted experience from point of discovery to point of purchase.
			.divider

		.part.trigger-3
			h2 Not awesome.