section.timeline
	h1 Publisher Network & Platform Roadmap
	#cd-timeline
		.cd-timeline-block.trigger-1
			.cd-timeline-img
				img(src="/images/slides/timeline/now.svg")
			.cd-timeline-content
				h2 3 Publishers
				img(src="/images/slides/timeline/now-logos.jpg")
				
			.cd-timeline-content.right
				ul
					li: h3 Product SmartCart
					li: h3 SmartWidget
					li: h3 Self-serve Platform 0.5
					li: h3 Publisher Dashboard
				

		.cd-timeline-block.trigger-2
			.cd-timeline-img
				img(src="/images/slides/timeline/q42015.svg")
			.cd-timeline-content
				h2 20 Publishers
				img(src="/images/slides/timeline/q415-logos.jpg")
			.cd-timeline-content.right
				ul
					li: h3 TravelCart in partnership with Expedia/Orbitz
					li: h3 eCommerce Backend Integration - Shopify &amp; Magento

		.cd-timeline-block.trigger-3
			.cd-timeline-img
				img(src="/images/slides/timeline/q12016.svg")
			.cd-timeline-content
				h2 50 Publishers
				img(src="/images/slides/timeline/q116-logos.jpg")

			.cd-timeline-content.right
				ul
					li: h3 Paypal Integration
					li: h3 Stripe Integration
					li: h3 Self-serve Platform 1.0
					li: h3 Add Social Logins (Facebook, Twitter, Linkedin)

		.cd-timeline-block.trigger-4
			.cd-timeline-img
				img(src="/images/slides/timeline/q22016.svg")
			.cd-timeline-content
				h2 400 Publishers
			.cd-timeline-content.right
				ul
					li: h3 Retail Dashboard 1.0
					li: h3 Public API & SDK Release

		.cd-timeline-block.trigger-5
			.cd-timeline-img
				img(src="/images/slides/timeline/q32016.svg")
			.cd-timeline-content
				h2 1350 Publishers
			.cd-timeline-content.right
				ul
					li: h3 Publisher &amp; Retailer Dashboard 2.0
					li: h3 eCommerce Backend Integration - Top 10 Platforms
					li: h3 TicketCart in partnership with Ticketmaster

		.cd-timeline-block.trigger-6
			.cd-timeline-img
				img(src="/images/slides/timeline/q42016.svg")
			.cd-timeline-content
				h2 2700 Publishers
			.cd-timeline-content.right
				ul
					li: h3 Open platform for 3rd party development (e.g. Openable, ZocDoc apps etc.)






