include ../config

header#header
	.menu-toggle.icon-list
	#logo: a(href="/")
		span
		img(src="/images/BH-logo-white.svg" alt="Bring Hub logo")
	nav#nav-main: ul
		li: a(href="#") The Problem
		li: a(href="#") Status Quo
		li: a(href="#") The Solution
			