#nav-toggle: a(href="#").icon-list

#nav
	.inner
		.logo: img(src="/images/BH-logo-white.svg")
		ul
			li: a(href="#" data-scroll-nav="0") <span></span> Intro
			li: a(href="#" data-scroll-nav="1") <span></span> The Problem
			li: a(href="#" data-scroll-nav="2") <span></span> Status Quo
			li: a(href="#" data-scroll-nav="3") <span></span> The Solution
			li: a(href="#" data-scroll-nav="4") <span></span> The Benifits
			li: a(href="#" data-scroll-nav="5") <span></span> Demos
			li: a(href="#" data-scroll-nav="6") <span></span> How it Works
			li: a(href="#" data-scroll-nav="7") <span></span> The Dashboard
			li: a(href="#" data-scroll-nav="8") <span></span> The Market
			li: a(href="#" data-scroll-nav="9") <span></span> Busines Model
			li: a(href="#" data-scroll-nav="10") <span></span> Under the Hood
			li: a(href="#" data-scroll-nav="11") <span></span> Intellectual Property
			li: a(href="#" data-scroll-nav="12") <span></span> The Timeline
			li: a(href="#" data-scroll-nav="13") <span></span> Supported Stores
			//- li: a(href="#" data-scroll-nav="14") <span>15)</span> Corporate Strategy
			li: a(href="#" data-scroll-nav="15") <span></span> The Comp
			li: a(href="#" data-scroll-nav="16") <span></span> The Team
			li: a(href="#" data-scroll-nav="17") <span></span> Our Locations
			li: a(href="#" data-scroll-nav="18") <span></span> Current Funding
			li: a(href="#" data-scroll-nav="19") <span></span> The Ask
			

		.download
			a(href="#") Download Full Presentation (PDF)