extends layouts/_default

include config

block content
	h1 This is the page of components
	section
		.buttons
			h2 Buttons!
			a(href="#" class="btn btn-sm") Buy this
			a(href="#" class="btn") Buy this
			a(href="#" class="btn-lt btn-med") Buy this
			a(href="#" class="btn-dk btn-lg") Buy this
	